* {
  margin: 0%;
  padding: 0%;
}

.parrafo1{
  margin-left: 50%;
  font-weight:normal;
}

.botones1{
  margin-bottom: 20%;
}

.TextoBotones{
font-size: smaller;
font-weight: bolder;
}

h2{
  justify-content: center;
  text-align: center;
}

.programadores{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-around;
}

.card-text{
  font-size: smaller;
}